@import "tailwindcss";

*{
  font-family: "Ogg", serif;
  box-sizing: border-box;

}

:root{
  --primary:#b84639;
  --primary-dark:#7A2C22;

  --paper:#F4EBDC;
  --paper-dark:#E8DAC3;

  --black:#111111;
  --text:#5A534D;

  --container:1400px;
  --radius:6px;

  --shadow: 0 10px 35px rgba(0,0,0,.08);
}

html{
  scroll-behavior:smooth;
}

body{
  overflow-x:hidden;
  background:var(--paper);
  color:var(--black);

  background-image:
    radial-gradient(
      rgba(0,0,0,.03) 1px,
      transparent 1px
    );

  background-size:18px 18px;
}

.container-custom{
  width:100%;
  max-width:var(--container);

  margin:auto;

  padding-left:16px;
  padding-right:16px;
}

@media (min-width:640px){
  .container-custom{
    padding-left:24px;
    padding-right:24px;
  }
}

@media (min-width:1024px){
  .container-custom{
    padding-left:40px;
    padding-right:40px;
  }
}

.section{
  padding:70px 0;
}

@media (min-width:768px){
  .section{
    padding-top:200px 0;
  }
}

.theme-card{
  background:rgba(255,255,255,.45);
  backdrop-filter:blur(10px);

  border:1px solid rgba(255,255,255,.2);

  box-shadow:var(--shadow);

  transition:.4s;
}

.theme-card:hover{
  transform:translateY(-6px);
}

.primary-btn{
  padding:5px 20px;

  background:var(--primary);

  color:white;

  font-weight:600;

  transition:.4s;
}

.primary-btn:hover{
  background:var(--primary-dark);
}

.secondary-btn{
  padding:12px 22px;
  border:1px solid black;
}

.heading-xl{
  font-family:"Ogg", serif;

  font-size:clamp(
    2.8rem,
    8vw,
    7rem
  );

  font-weight:800;

  line-height:.95;
}

.heading-lg{
  font-family:"Ogg", serif;

  font-size:clamp(
    2rem,
    5vw,
    4rem
  );
}

.heading-md{
  font-family:"Ogg", serif;

  font-size:clamp(
    1.5rem,
    4vw,
    3rem
  );
}

.heading-sm{
  font-family:"Ogg", serif;

  font-size:clamp(
    1.2rem,
    3vw,
    2rem
  );
}

.text-muted{
  color:var(--text);
  line-height:2;
}

.page-spacing{
  padding-top:100px;
}

@media (min-width:1024px){
  .page-spacing{
    padding-top:120px;
  }
}